@(productForm: Form[models.Product], user: models.users.User)

@import helper._



@main("Add Product", user) {
    <p class="lead">Add a new product</p>

    @form(action=routes.HomeController.addProductSubmit(), 'class -> "form-horizontal", 'role -> "form"){
        @* CSRF attack prevention *@
        @* This token, send by the controller, will be used to authenticate the form bubmission *@
        @CSRF.formField


        @inputText(productForm("name"), '_label -> "Name", 'class -> "form-control")
        @inputText(productForm("description"), '_label -> "descripton", 'class -> "form-control")
        @inputText(productForm("stock"), '_label -> "stock", 'class -> "form-control")
        @inputText(productForm("price"), '_label -> "Price", 'class ->"form-control")

        @inputText(productForm("id"), '_label ->"", 'hidden ->"hidden")


        <div class="actions">
                <input type="submit" value="Add/Update Product" class="btn btn-primary">
                <a href+"@routes.HomeController.index">
                    <button type="button" class+"btn btn-warning"> Cancel </button>
                
                </a>
        </div>
    }   
}