@(QuestionForm : Form[models.Question], user: models.users.User)
@import helper._ 

<html>
	<head>
		
		<meta charset="UTF-8">
		<title>CA2</title>
    @main("Login", user) {
			<main>
				<div id="columns">
					<div id="leftCol">
						<div class="outerColDiv">
							<div class="col-sm-5">
      <p>If you're question is not answered in the FAQ you can submit your own question here and one of our staff will respond within 24 hours. </p>
	  
      <p><span class="glyphicon glyphicon-map-marker"></span> Sandyford, Dublin</p>
      <p><span class="glyphicon glyphicon-phone"></span> 01 820876</p>
      
    </div>
						</div>
					</div>
          
          
          <div id="centreCol">
             
              <div>   
        <p class="lead">Ask a question</p>
        
            @form(action=routes.HomeController.addQuestionSubmit(), 'class -> "form-horizontal", 'role -> "form"){
                @* CSRF attack prevention *@
                @* This token, send by the controller, will be used to authenticate the form bubmission *@
                @CSRF.formField
        
        
                @inputText(QuestionForm("name"), '_label -> "Name", 'class -> "form-control")
                @inputText(QuestionForm("email"), '_label -> "Email", 'class -> "form-control")
                @inputText(QuestionForm("question"), '_label -> "Question", 'class -> "form-control")
               
        
               
        
       
                <div class="actions">
                        <input type="submit" value="Submit Question" class="btn btn-primary">
                        <a href="@routes.HomeController.FAQ">
                            <button type="button" class="btn btn-warning"> Cancel </button>
                        
                        </a>
                </div>
            }   
        
  <style>        
            .accordion {
              background-color: #eee;
              color: #444;
              cursor: pointer;
              padding: 18px;
              width: 80%;
              border: none;
              text-align: left;
              outline: none;
              font-size: 15px;
              transition: 0.4s;
            }
            
            .active, .accordion:hover {
              background-color: #ccc;
            }
            
            .panel {
              padding: 0 18px;
              background-color: white;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.2s ease-out;
            }				
				</style>
							<div>

    </head>
    <body>
    
    <h2>Frequently Asked Questions</h2>
    <p>Click on the buttons to open the collapsible content.</p>
    
    <button class="accordion">Do you ship internationally? </button>
    <div class="panel">
      <p>Yes, we do ship internationally. We only ask that you pay for shipping or any taxes that your package incurs through customs.</p>
    </div>
    
    <button class="accordion">Is it possible to purchase an extended warrenty?</button>
    <div class="panel">
      <p>You may upgrade the warranty within the first thirty days of purchase</p>
    </div>
    
    <button class="accordion">I have no video signal, what should I do?</button>
    <div class="panel">
      <ul>
        <li>Check all cable connections from your monitor to your system make sure they are not loose and properly connected.</li>
          <li>Confirm that you are not connecting the monitor to the onboard video output and are connecting the monitor to the video card.</li>
          <li>On the monitor make sure to change between the input sources, most monitors will have the feature for selecting the input that the monitor is receiving a signal from. Make sure you have selected the proper input.</li>
    </div>
    
    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>



											<!-- Container (Contact Section) -->

							</div>
						</div>
					</div>
				</div>
				<map name="facebook" id="facebook">
		<area href="https://www.facebook.com/" shape="circle" coords="100, 80,80,50" alt="fb"/>
		<area href="https://twitter.com/" shape="circle" coords="300, 80,80,80" alt="tw"/>
		<area href="https://www.instagram.com/" shape="circle" coords="500, 80,80,50" alt="in"/>
		</map>
		<img src="/assets/images/follow.png" usemap="#facebook" alt"wh"width="570" height="200"/>
			</main>

    }
			<footer>
				Copyright &copy; 2018
			</footer>
		</div>
	</body>
</html>