@(products: List[models.Product], user: models.users.User)

<html>
	<head>
		
		<meta charset="UTF-8">
		<title>Computer Hub</title>
    @main("Login", user) {
			
			<main>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Samsung 24 inch HD TV</div>
        <div class="panel-body"><img src="/assets/images/SamsungTV-img1.jpg" alt="24' Samsung TV" class="productImg" style="height: 13em"></div>
        @for(p <-products) {
          @if(p.getId == 9) {
        <h4>@p.getName</h4>
        <ul>	
          <li>@p.getDescription</li><br>
          <li>@p.getStock</li><br>
          <li>euro; @("%.2f".format(p.getPrice))</li><br>
          <td>
            <a href="@routes.HomeController.deleteProduct(p.getId)" class="button-xs btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
          
            }
        </ul>
          }
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">Samsung 40 Inch Full HD TV</div>
        <div class="panel-body"><img src="/assets/images/SamsungTV-img2.jpg" alt="40' Samsung TV" class="productImg" style="height: 13em"></div>
        @for(p <-products) {
          @if(p.getId == 10) {
        <h4>@p.getName</h4>
        <ul>	
          <li>@p.getDescription</li><br>
          <li>@p.getStock</li><br>
          <li>euro; @("%.2f".format(p.getPrice))</li><br>
          <td>
            <a href="@routes.HomeController.deleteProduct(p.getId)" class="button-xs btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
          
            }
        </ul>
          }
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Samsung 49 Inch Full HD Smart TV</div>
        <div class="panel-body"><img src="/assets/images/SamsungTV-img3.jpg" alt="49' Samsung TV" class="productImg" style="height: 13em;"></div>
        @for(p <-products) {
          @if(p.getId == 6) {
        <h4>@p.getName</h4>
        <ul>	
          <li>@p.getDescription</li><br>
          <li>@p.getStock</li><br>
          <li>euro; @("%.2f".format(p.getPrice))</li><br>
          <td>
            <a href="@routes.HomeController.deleteProduct(p.getId)" class="button-xs btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        }
            }
        </ul>
          }
      </div>
    </div>
  </div>
</div>

			</main>
				
			<footer>
				Copyright &copy; 2018
			</footer>
		</div>
	</body>
</html>